html {
	font-family: "Lato", sans-serif;
	background-image: url("../pictures/main-background.jpg");
}

#tabs {
   float:left;
   width:100%;
   overflow:hidden;
   position:relative;
}

#tabs ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}

#tabs ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}

#tabs ul li a:hover{
	color: #ffa500
}

#tabs ul li a {
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   background:#ddd;
   color:#000;
   text-decoration:none;
   line-height:1.3em;
}